@import "tailwindcss";

@theme {
  --color-header-bg: #1f2a48;
  --color-icon-color: #ff5ec4;
  --color-page-bg: #f4f4f8;
  --color-text-color: #1b1b1b;
  --color-footer-bg: #111827;

  --color-btn-primary-bg: #3b82f6;
  --color-btn-primary-text: #ffffff;
  --color-btn-primary-hover: #2563eb;

  --color-btn-secondary-bg: #ff5ec4;
  --color-btn-secondary-text: #ffffff;
  --color-btn-secondary-hover: #e645ae;

  --color-sidebar-bg: #1f2937;
  --color-sidebar-btn-bg: #374151;
  --color-sidebar-text: #f9fafb;

  --color-text-light: #f4f4f5;
}
