@media screen and (min-width: 768px) {
  .dashboard {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "sidebar main";
    column-gap: 10px;
  }
  .sidebar {
    grid-area: sidebar;
  }
  .main {
    grid-area: main;
  }
}
@media screen and (min-width: 1024px) {
  .dashboard {
    grid-template-columns: 250px 1fr;
  }
}
