.menu {
  display: none;
  opacity: 0;
  transition: display 500ms ease-in-out, opacity 500ms ease-in-out;
  transition-behavior: allow-discrete;
}
.show {
  opacity: 1;
  display: flex;
  @starting-style {
    opacity: 0;
  }
}
